<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task manager</title>
	
	<link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
	
	<div class="app-container">
		<form action="">
			<h3>Task manager</h3>
			<div class="form-control">
				<input type="text" placeholder="e.g wash dishes" name="input-task" id="input-task" autocomplete="off">
				<input type="submit" value="submit">
			</div>
			<p style="text-align: center; margin-top: 20px" id="message">this is the info message</p>
		</form>
		
		<ul class="tasks-container">
<!--
			<li class="task" id="task-1">
				<span class="task-description">first task</span>
				<div class="btns">
					<a href="/update">updt</a>
					<a href="#">del</a>
				</div>
			</li>
-->
		</ul>
	</div>
	
	<script src="/config.js"></script>
	<script src="/main.js"></script>
</body>
</html>